<!-- Extended navigation.  School address.  Mouseline -->
<div id="footerHolder">

    <!-- Start of footer -->
    <div class="footer clearfix">
        <div class="container">
            <div class="row">
                        
                <!-- Start of contact and copyright -->
                <div class="span3" id="contact">
                    <div itemscope="" itemtype="https://schema.org/CollegeOrUniversity">
                        <div class="tradegothic addressHead" itemprop="name"><strong>George Fox University:&#160;</strong><br class="hidden-phone" /> <strong>Newberg Campus</strong></div>
                        <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress"><span itemprop="streetAddress">414 N. Meridian St.</span><br /> <span itemprop="addressLocality">Newberg</span>, <span itemprop="addressRegion">OR</span> <span itemprop="postalCode">97132</span></div>
                        <a class="phone-number" href="tel:+15035388383" itemprop="telephone" style="text-decoration: underline;">503-538-8383</a>
                    </div>
                    <p><a class="btn tradegothic addressButtons" href="https://georgefox.edu/contact.html">Contact Us</a> <a class="btn tradegothic addressButtons" href="https://georgefox.edu/college-admissions/visit/index.html">Visit Campus</a></p>
                    <div class="social-icons hidden-phone">
                        <ul>
                            <li><a href="https://www.facebook.com/georgefoxuniversity"><img alt="Facebook" height="100" src="../template/global/images/social/facebook.png" width="100" /></a></li>
                            <li><a href="https://www.instagram.com/georgefoxuniversity/"><img alt="Instagram" height="100" src="../template/global/images/social/instagram.png" width="100" /></a></li>
                            <li><a href="https://twitter.com/georgefox"><img alt="Twitter" height="82" src="../template/global/images/social/twitter.png" width="100" /></a></li>
                            <li><a href="https://vimeo.com/georgefox/"><img alt="Vimeo" height="87" src="../template/global/images/social/vimeo.png" width="100" /></a></li>
                            <li><a href="https://www.linkedin.com/school/19242?pathWildcard=19242"><img alt="LinkedIn" height="100" src="../template/global/images/social/linkedin.png" width="100" /></a></li>
                        </ul>
                    </div>
                    <p id="copy">&#169; 2018, George Fox University. All rights reserved.</p>
                </div>
                <!-- End of contact and copyright -->
                        
                <!-- Start of footerNav -->
                <div class="span9" id="footerNav">
                    <div class="row footerNew">
                        <div class="span3">
                            <h4><span class="collapsed" data-target=".footer-quickLinks" data-toggle="collapse" onclick="void(0)">Quick Links</span></h4>
                            <div class="nav-collapse collapse footer-quickLinks">
                                <h5><a href="//www.georgefox.edu/">George Fox Home</a></h5>
                                <ul>
                                    <li><a href="https://georgefox.edu/sitemap/index.html">A-Z Index</a></li>
                                    <li><a href="http://www.bkstr.com/georgefoxstore/home/en">Bookstore</a></li>
                                    <li><a href="https://georgefox.edu/calendar/index.html">Calendar</a></li>
                                    <li><a href="https://webservices.georgefox.edu/class/">Class Schedule</a></li>
                                    <li><a href="https://georgefox.edu/direc/index.html">Directories</a></li>
                                    <li><a href="https://foxtale.georgefox.edu/moodle/login/index.php">FoxTALE</a></li>
                                    <li><a href="https://mail.google.com/a/georgefox.edu/">Google Mail</a></li>
                                    <li class="visible-phone"><a href="https://igfu.georgefox.edu/">iGFU</a></li>
                                    <li><a href="https://georgefox.edu/offices/hr/hiring.html">Jobs</a></li>
                                    <li><a href="https://georgefox.edu/library/index.html">Library</a></li>
                                    <li><a href="https://georgefox.edu/maps_locations/index.html">Maps &amp; Locations</a></li>
                                    <li><a href="https://mygfu.georgefox.edu">MyGFU <br /> </a></li>
                                    <li><a href="https://georgefox.edu/legal/index.html">Privacy Policy <br /> </a></li>
                                    <li><a href="https://georgefox.edu/news/closures/index.html">School Closures</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span3">
                            <h4><span class="collapsed" data-target=".footer-about" data-toggle="collapse" onclick="void(0)">About</span></h4>
                            <div class="nav-collapse collapse footer-about">
                                <ul>
                                    <li><a href="https://georgefox.edu/about/quick_facts/index.html">Quick Facts</a></li>
                                    <li><a href="https://georgefox.edu/about/mission_vision_values/index.html">Mission, Vision &amp; Values <br /> </a></li>
                                    </ul>
                                    </div>
                                    <h4><span class="collapsed" data-target=".footer-admissions" data-toggle="collapse" onclick="void(0)">Admission</span></h4>
                                    <div class="nav-collapse collapse footer-admissions">
                                    <ul>
                                    <li><a href="https://georgefox.edu/admission/how-to-apply.html">Apply Now</a></li>
                                    <li><a href="https://georgefox.edu/admission/index.html">Request Info</a></li>
                                    </ul>
                                    </div>
                                    <h4><span class="collapsed h5Link" data-target=".footer-traditionalUndergraduate" data-toggle="collapse" onclick="void(0)">Traditional Undergraduate</span></h4>
                                    <div class="nav-collapse collapse footer-traditionalUndergraduate">
                                    <ul>
                                    <li><a href="https://georgefox.edu/college-admissions/index.html">Homepage</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/academics/majors-minors.html">Majors &amp; Minors</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/campus-life/index.html">Campus Life</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/scholarships/index.html">Scholarships &amp; Financial Aid</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/scholarships/net-price-calculator.html">Net Price Calculator</a></li>
                                    <li><a href="https://georgefox.edu/consumer-information/index.html">Consumer Information</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/visit/index.html">Visit Campus</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span3">
                            <h4><span class="collapsed h5Link" data-target=".footer-adultDegree" data-toggle="collapse" onclick="void(0)">Adult Degree Programs</span></h4>
                            <div class="nav-collapse collapse footer-adultDegree">
                                <ul>
                                    <li><a href="https://georgefox.edu/adult-degree/index.html">Homepage</a></li>
                                    <li><a href="https://georgefox.edu/adult-degree/about/locations.html">Locations</a></li>
                                    <li><a href="https://georgefox.edu/adult-degree/admissions/inforeq.html">Request Information</a></li>
                                </ul>
                            </div>
                            <h4><span class="collapsed" data-target=".footer-graduate" data-toggle="collapse" onclick="void(0)">Graduate</span></h4>
                            <div class="nav-collapse collapse footer-graduate">
                                <ul>
                                    <li><a href="https://georgefox.edu/business/index.html">Business Programs</a></li>
                                    <li><a href="https://georgefox.edu/counseling-programs/index.html">Counseling Programs</a></li>
                                    <li><a href="https://georgefox.edu/education/index.html">Education &amp; Teaching Programs</a></li>
                                    <li><a href="https://georgefox.edu/physical-therapy/index.html">Physical Therapy</a></li>
                                    <li><a href="https://georgefox.edu/psyd/index.html">Psychology (PsyD)</a></li>
                                    <li><a href="https://georgefox.edu/seminary/index.html">Seminary</a></li>
                                    <li><a href="https://georgefox.edu/socialwork/msw/index.html">Social Work (MSW)</a></li>
                                </ul>
                            </div>
                            <h4 style="text-decoration: underline;"><a href="https://georgefox.edu/academics/online-programs.html">Online Programs</a></h4>
                        </div>
                        <div class="social-icons visible-phone">
                            <ul>
                                <li><a href="https://www.facebook.com/georgefoxuniversity"> <img alt="Facebook" height="100" src="https://www.georgefox.edu/template/global/images/social/facebook.png" width="100" /> </a></li>
                                <li><a href="https://www.instagram.com/georgefoxuniversity/"> <img alt="Instagram" height="100" src="https://www.georgefox.edu/template/global/images/social/instagram.png" width="100" /> </a></li>
                                <li><a href="https://twitter.com/georgefox"> <img alt="Twitter" height="82" src="https://www.georgefox.edu/template/global/images/social/twitter.png" width="100" /> </a></li>
                                <li><a href="https://vimeo.com/georgefox/"> <img alt="Vimeo" height="87" src="https://www.georgefox.edu/template/global/images/social/vimeo.png" width="100" /> </a></li>
                                <li><a href="https://www.linkedin.com/school/19242?pathWildcard=19242"> <img alt="LinkedIn" height="100" src="https://www.georgefox.edu/template/global/images/social/linkedin.png" width="100" /> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End of footerNav -->
                    
            </div>
        </div>
    </div>
    <!-- End of footer -->
            
</div>
<!-- End of footerHolder -->