<!-- Start of header -->
<div id="header">
    <form action="#contentStart" id="skip" method="get"><input type="submit" value="Skip to main content" /></form>
    <header id="headerMain">
        <div class="container">
            <div class="pull-left"><a href="https://www.georgefox.edu/" id="headerLogo"><img alt="George Fox University" id="universityLogo" src="https://www.georgefox.edu/template/global/images/george-fox-university-logo.png" title="George Fox University" /></a><a href="https://www.georgefox.edu/be-known/index.html" id="headerbrandMessage"><img alt="Be Known" src="https://www.georgefox.edu/template/global/images/be-known.png" /></a></div>
            <div class="pull-right" ></div>
        </div>
    </header>
    <div class="navbar navbar-inverse navbar-fixed-top" id="headerNav">
        <div class="navbar-inner">
            <div class="container"><!-- Google Search Form --><form action="//www.georgefox.edu/search/search.html" class="navbar-search form-search pull-right" id="cse_searchbox" role="search"><input name="cx" type="hidden" value="000111765645995066711:ny_zleug7qg" /> <input name="cof" type="hidden" value="FORID:10" />
            <div class="input-prepend"><button class="btn btn-inverse" id="sa" name="sa" type="submit"><span class="icon-white icon-search" ></span></button> <input class="span3 search-query" id="q" name="q" placeholder="Search George Fox" type="text" /></div>
            <!--<button type="submit" class="btn" id="sa" name="sa"></button>--></form><!-- End Google Search Form --><a class="btn btn-navbar collapse-btn tradegothic" data-target="#headerNav .nav-collapse" data-toggle="collapse">Main menu</a>
                <div class="topNavLogo"><a href="//www.georgefox.edu">George Fox University Homepage</a></div>
                <ul class="nav tradegothic nav-collapse collapse">
                    <li class="visible-phone"><a href="https://www.georgefox.edu/index.html">Home</a></li>
                    <li class="one"><a href="https://www.georgefox.edu/about/index.html">About</a></li>
                    <li class="two"><a href="https://www.georgefox.edu/academics/index.html">Academics</a></li>
                    <li class="three"><a href="https://www.georgefox.edu/admission/index.html">Admissions</a></li>
                    <li class="four"><a href="http://athletics.georgefox.edu/landing/index">Athletics</a></li>
                    <li class="five"><a href="https://www.georgefox.edu/dev/index.html">Giving</a></li>
                    <li class="six"><a href="https://www.georgefox.edu/resources_for/index.html">Resources</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End of top header --><!-- Start of Header navigation --><!-- End of Header navigation -->
</div>
<!-- End of header -->