<section class="alumni-section padding-vertical">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 text-center">
        <h2>Connect with Us</h2>
        <p>Follow us on social media to stay up to date with current Bruin news and events.</p>
        <ul class="social-list">
          <li><a href="https://www.facebook.com/georgefoxuniversity" target="_blank"><img class="social-icon" src="images/Facebook-icon2x.png" alt="Facebook icon"></a></li>
          <li><a href="https://www.instagram.com/georgefoxuniversity/" target="_blank"><img class="social-icon" src="images/Insta-icon2x.png" alt="Instagram icon"></a></li>
          <li><a href="https://twitter.com/georgefox" target="_blank"><img class="social-icon" src="images/twitter-icon2x.png" alt="Twitter icon"></a></li>
          <li><a href="https://vimeo.com/georgefox/" target="_blank"><img class="social-icon" src="images/Vimeo-icon2x.png" alt="Vimeo icon"></a></li>
          <li><a href="https://www.linkedin.com/school/19242?pathWildcard=19242" target="_blank"><img class="social-icon" src="images/LinkedIn-icon2x.png" alt="LinkedIn icon"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>