<!-- Start of before_subheader -->
  <div class="beforeSubheader"></div>
<!-- End of before_subheader -->
        
<!-- Start of subheader -->
  <div class="subheader">
    <a class="anchor" id="contentStart" name="contentStart"></a>
    <div class="container navbar">
      <span class="sectionTitle"><span>George Fox</span> Alumni</span>
      
      <ul class="nav navCollapse collapse">
        <li class="active"><a href="#">Alumni Relations</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
          <ul class="dropdown-menu">
            <li><a href="https://www.georgefox.edu/alumni/programs/children_of_alumni/index.html">Children of Alumni</a></li>
            <li><a href="https://www.georgefox.edu/alumni/programs/awards/index.html">Honored Alumni Awards</a></li>
            <li><a href="https://www.georgefox.edu/alumni/programs/benefits.html">Benefits</a></li>
            <li><a href="https://www.georgefox.edu/alumni/programs/mygfu.html">Alumni Directory</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Connected</a>
          <ul class="dropdown-menu">
            <li><a href="https://www.georgefox.edu/alumni/involve/Volunteer/index.html">Volunteer</a></li>
            <li><a href="https://www.georgefox.edu/alumni/involve/review.html">Share Your Experience</a></li>
          </ul>
        </li>
        <li><a href="#">News and Events</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      
      <a class="btn btn-navbar tradegothic" data-target=".navCollapse" data-toggle="collapse">Alumni Relations Menu</a>
      
    </div>
  </div>
<!-- End of subheader -->