body.alumni {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  
  font-size: $fontsize_body;
  line-height: $lineheight_body;
  
  @media (max-width: 47.9375em) {
    padding-left: 0;
    padding-right: 0;
    
    #footerHolder {
      padding-left: $sp_base * .5;
      padding-right: $sp_base * .5;
    }
  }
}