body.alumni {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  
  font-size: $fontsize_body;
  line-height: $lineheight_body;
  
  @media (max-width: 47.9375em) {
    #main {
      margin-left: -$sp_base * .5;
      margin-right: -$sp_base * .5;
    }
  }
}

@media (max-width: 47.9375em) {
  body.alumni [class*="span"],
  body.alumni .row-fluid [class*="span"] {
    position: relative;
  }
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: calc(100% - 30px);
  
  @media (min-width: 1200px) {
    width: 1170px;
  }
}