{% extends "layout.njk" %}

{% block site_content %}
  <div class="hero hero-content--left full-image">
    <img class="hero-image" src="images/keypage-hero_opt.jpg" alt="Alumn standing in front of brick wall.">
    <div class="hero-content text-center">
      <blockquote>
        <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
        <cite>&mdash; Doug Peterson, class of '72</cite>
      </blockquote>
    </div>
  </div>
  
  
  <!--
    @TODO - Integrate with Cascade to make dynamic.
    @FUNCTIONALITY - Provide options for admin and display section accordingly.
    
    @OPTION - has_text
    @TYPE - boolean, checkbox
    @FUNCTIONALITY - If true, show alignment options. Else, full width video. 
    
    @OPTION - text_position
    @TYPE - radio
    @VALUES - right, left
    @FUNCTIONALITY - If right, text on right. If left, text on left.
  -->
  <section class="alumni-section container padding-vertical">
    <div class="row-fluid">
      <div class="span9">
        <div class="video-container has-shadow">
          <iframe src="https://player.vimeo.com/video/103272363?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="span3">
        <h2>Video Title Here</h2>
        <p>Newberg is a place many fondly call home. Whether you're a George Fox student, a longtime resident or just passing through, there are countless things to do and see.</p>
      </div>
    </div>
  </section>
  
  <section class="alumni-section padding-vertical bg-blue callout">
    <div class="container text-center">
      <h3>Belonging to the George Fox University Alumni Association is free and fosters loyalty to your university, gives you a voice in alumni affairs, provides leadership opportunities, promotes continued excellence in education, and allows us to serve you with benefits.</h3>
    </div>
  </section>
  
  <section class="alumni-section container padding-vertical">
    <div class="row-fluid">
      <div class="span4 text-center info-block">
        <img class="info-image" src="images/access-info_opt.jpg" alt="Campus Library building in the fall.">
        <h3 class="info-title">Access to Information</h3>
        <p class="info-content">Get access to the Alumni Directory, campus library, university news and updates plus much more.</p>
        <a class="info-button btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/benefits.html">Learn More</a>
      </div>
      
      <div class="span4 text-center info-block">
        <img class="info-image" src="images/discount-services_opt.jpg" alt="Students performing a play.">
        <h3 class="info-title">Discounts on Services</h3>
        <p class="info-content">Get discounts on things like travel, storage, parking, printing, theater tickets and catering... just to name a few.</p>
        <a class="info-button btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/benefits.html">Learn More</a>
      </div>
      
      <div class="span4 text-center info-block">
        <img class="info-image" src="images/events-opportunities_opt.jpg" alt="Bruins football player and coaches posing after a game.">
        <h3 class="info-title">Events and Opportunities</h3>
        <p class="info-content">Get involved by volunteering for campus events, travel, and have the opportunity to be honored with an alumni award.</p>
        <a class="info-button btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/events/index.html">Learn More</a>
      </div>
    </div>
  </section>
  
  <section class="full-image">
    <img src="images/keypage-full-image_opt.jpg" alt="Smiling alumn with family on campus.">
  </section>
  
  <section class="alumni-section container padding-vertical text-center">
    <h2>Benefits for Children of Alumni</h2>
    <p>As a George Fox alum, your children have lots of opportunities to get involved at George Fox. Everything from sports camps to pen pals, campus visits to outreach experiences, your kids have many ways to experience Bruin life, and it starts right when they are born!</p>
    <ul class="list-icons">
      <li><img src="images/icons/T-shirt.svg" alt="tshirt icon" aria-hidden="true">Lil' Bruins T-shirt</li>
      <li><img src="images/icons/Hat.svg" alt="hat icon" aria-hidden="true">Bruin Sports Day</li>
      <li><img src="images/icons/Book.svg" alt="book icon" aria-hidden="true">Friday@Fox & Campus Visits</li>
      <li><img src="images/icons/Pencil.svg" alt="pencil icon" aria-hidden="true">Penn Pals Kid's Club</li>
      <li><img src="images/icons/Science-1.svg" alt="science icon" aria-hidden="true">Science Outreach Program</li>
      <li><img src="images/icons/Bruin.svg" alt="bruin icon" aria-hidden="true">Bruin Preview</li>
      <li><img src="images/icons/Football.svg" alt="football icon" aria-hidden="true">Homecoming</li>
      <li><img src="images/icons/Trophy.svg" alt="trophy icon" aria-hidden="true">Sports Camps</li>
      <li><img src="images/icons/Star.svg" alt="star icon" aria-hidden="true">Legacy Program</li>
    </ul>
    <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/children_of_alumni/index.html">Learn More</a>
  </section>
  
  <section class="block-grid">
    <div class="block photo-left">
      <div class="block-photo">
        <img src="images/update-info-photo_opt.jpg" alt="Alumn with her grandmother on campus.">
      </div>
      <div class="block-content bg-blue text-center text-white">
        <h2>Update Your Information</h2>
        <p>It is a simple way to let your classmates and other alumni know what you have been up to and connect with you!</p>
        <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/alumni_update_form.html">Learn More</a>
      </div>
    </div>
    <div class="block photo-right">
      <div class="block-photo">
        <img src="images/directory-photo_opt.jpg" alt="Alumn smiling with her family.">
      </div>
      <div class="block-content bg-blue text-center text-white">
        <h2>Alumni Directory</h2>
        <p>This password-protected system allows George Fox alumni to find contact information for other alumni.</p>
        <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/mygfu.html">Learn More</a>
      </div>
    </div>
  </section>
{% endblock %}gothic" data-target="#headerNav .nav-collapse" data-toggle="collapse">Main menu</a>
                <div class="topNavLogo"><a href="//www.georgefox.edu">George Fox University Homepage</a></div>
                <ul class="nav tradegothic nav-collapse collapse">
                    <li class="visible-phone"><a href="https://www.georgefox.edu/index.html">Home</a></li>
                    <li class="one"><a href="https://www.georgefox.edu/about/index.html">About</a></li>
                    <li class="two"><a href="https://www.georgefox.edu/academics/index.html">Academics</a></li>
                    <li class="three"><a href="https://www.georgefox.edu/admission/index.html">Admissions</a></li>
                    <li class="four"><a href="http://athletics.georgefox.edu/landing/index">Athletics</a></li>
                    <li class="five"><a href="https://www.georgefox.edu/dev/index.html">Giving</a></li>
                    <li class="six"><a href="https://www.georgefox.edu/resources_for/index.html">Resources</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End of top header --><!-- Start of Header navigation --><!-- End of Header navigation -->
</div>
<!-- End of header -->
  
  <!-- Start of before_subheader -->
  <div class="beforeSubheader"></div>
<!-- End of before_subheader -->
        
<!-- Start of subheader -->
  <div class="subheader">
    <a class="anchor" id="contentStart" name="contentStart"></a>
    <div class="container navbar">
      <h1 class="sectionTitle"><span>George Fox</span> Alumni</h1>
      
      <ul class="nav navCollapse collapse">
        <li class="active"><a href="#">Alumni Relations</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
          <ul class="dropdown-menu">
            <li><a href="https://www.georgefox.edu/alumni/programs/children_of_alumni/index.html">Children of Alumni</a></li>
            <li><a href="https://www.georgefox.edu/alumni/programs/awards/index.html">Honored Alumni Awards</a></li>
            <li><a href="https://www.georgefox.edu/alumni/programs/benefits.html">Benefits</a></li>
            <li><a href="https://www.georgefox.edu/alumni/programs/mygfu.html">Alumni Directory</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Connected</a>
          <ul class="dropdown-menu">
            <li><a href="https://www.georgefox.edu/alumni/involve/Volunteer/index.html">Volunteer</a></li>
            <li><a href="https://www.georgefox.edu/alumni/involve/review.html">Share Your Experience</a></li>
          </ul>
        </li>
        <li><a href="#">News and Events</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      
      <a class="btn btn-navbar tradegothic" data-target=".navCollapse" data-toggle="collapse">
        Alumni Relations Menu
      </a>
      
    </div>
  </div>
<!-- End of subheader -->
  
  <!-- Start of main -->
  <div id="main">
    <div class="containerDefault">
      
      <!-- Start of mainContent -->
      
  <div class="hero hero-content--left full-image">
    <img class="hero-image" src="images/keypage-hero_opt.jpg" alt="Alumn standing in front of brick wall.">
    <div class="hero-content text-center">
      <blockquote>
        <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
        <cite>&mdash; Doug Peterson, class of '72</cite>
      </blockquote>
    </div>
  </div>
  
  
  <!--
    @TODO - Integrate with Cascade to make dynamic.
    @FUNCTIONALITY - Provide options for admin and display section accordingly.
    
    @OPTION - has_text
    @TYPE - boolean, checkbox
    @FUNCTIONALITY - If true, show alignment options. Else, full width video. 
    
    @OPTION - text_position
    @TYPE - radio
    @VALUES - right, left
    @FUNCTIONALITY - If right, text on right. If left, text on left.
  -->
  <section class="alumni-section container padding-vertical">
    <div class="row-fluid">
      <div class="span9">
        <div class="video-container has-shadow">
          <iframe src="https://player.vimeo.com/video/103272363?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="span3">
        <h2>Video Title Here</h2>
        <p>Newberg is a place many fondly call home. Whether you're a George Fox student, a longtime resident or just passing through, there are countless things to do and see.</p>
      </div>
    </div>
  </section>
  
  <section class="alumni-section padding-vertical bg-blue callout">
    <div class="container text-center">
      <h3>Belonging to the George Fox University Alumni Association is free and fosters loyalty to your university, gives you a voice in alumni affairs, provides leadership opportunities, promotes continued excellence in education, and allows us to serve you with benefits.</h3>
    </div>
  </section>
  
  <section class="alumni-section container padding-vertical">
    <div class="row-fluid">
      <div class="span4 text-center info-block">
        <img class="info-image" src="images/access-info_opt.jpg" alt="Campus Library building in the fall.">
        <h3 class="info-title">Access to Information</h3>
        <p class="info-content">Get access to the Alumni Directory, campus library, university news and updates plus much more.</p>
        <a class="info-button btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/benefits.html">Learn More</a>
      </div>
      
      <div class="span4 text-center info-block">
        <img class="info-image" src="images/discount-services_opt.jpg" alt="Students performing a play.">
        <h3 class="info-title">Discounts on Services</h3>
        <p class="info-content">Get discounts on things like travel, storage, parking, printing, theater tickets and catering... just to name a few.</p>
        <a class="info-button btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/benefits.html">Learn More</a>
      </div>
      
      <div class="span4 text-center info-block">
        <img class="info-image" src="images/events-opportunities_opt.jpg" alt="Bruins football player and coaches posing after a game.">
        <h3 class="info-title">Events and Opportunities</h3>
        <p class="info-content">Get involved by volunteering for campus events, travel, and have the opportunity to be honored with an alumni award.</p>
        <a class="info-button btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/events/index.html">Learn More</a>
      </div>
    </div>
  </section>
  
  <section class="full-image">
    <img src="images/keypage-full-image_opt.jpg" alt="Smiling alumn with family on campus.">
  </section>
  
  <section class="alumni-section container padding-vertical text-center">
    <h2>Benefits for Children of Alumni</h2>
    <p>As a George Fox alum, your children have lots of opportunities to get involved at George Fox. Everything from sports camps to pen pals, campus visits to outreach experiences, your kids have many ways to experience Bruin life, and it starts right when they are born!</p>
    <ul class="list-icons">
      <li><img src="images/icons/T-shirt.svg" alt="tshirt icon" aria-hidden="true">Lil' Bruins T-shirt</li>
      <li><img src="images/icons/Hat.svg" alt="hat icon" aria-hidden="true">Bruin Sports Day</li>
      <li><img src="images/icons/Book.svg" alt="book icon" aria-hidden="true">Friday@Fox & Campus Visits</li>
      <li><img src="images/icons/Pencil.svg" alt="pencil icon" aria-hidden="true">Penn Pals Kid's Club</li>
      <li><img src="images/icons/Science-1.svg" alt="science icon" aria-hidden="true">Science Outreach Program</li>
      <li><img src="images/icons/Bruin.svg" alt="bruin icon" aria-hidden="true">Bruin Preview</li>
      <li><img src="images/icons/Football.svg" alt="football icon" aria-hidden="true">Homecoming</li>
      <li><img src="images/icons/Trophy.svg" alt="trophy icon" aria-hidden="true">Sports Camps</li>
      <li><img src="images/icons/Star.svg" alt="star icon" aria-hidden="true">Legacy Program</li>
    </ul>
    <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/children_of_alumni/index.html">Learn More</a>
  </section>
  
  <section class="block-grid">
    <div class="block photo-left">
      <div class="block-photo">
        <img src="images/update-info-photo_opt.jpg" alt="Alumn with her grandmother on campus.">
      </div>
      <div class="block-content bg-blue text-center text-white">
        <h2>Update Your Information</h2>
        <p>It is a simple way to let your classmates and other alumni know what you have been up to and connect with you!</p>
        <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/alumni_update_form.html">Learn More</a>
      </div>
    </div>
    <div class="block photo-right">
      <div class="block-photo">
        <img src="images/directory-photo_opt.jpg" alt="Alumn smiling with her family.">
      </div>
      <div class="block-content bg-blue text-center text-white">
        <h2>Alumni Directory</h2>
        <p>This password-protected system allows George Fox alumni to find contact information for other alumni.</p>
        <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/mygfu.html">Learn More</a>
      </div>
    </div>
  </section>

      <!-- End of mainContent -->
      
    </div>
  </div>
  <!-- End of main -->
  
  <section class="alumni-section padding-vertical">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 text-center">
        <h2>Connect with Us</h2>
        <p>Follow us on social media to stay up to date with current Bruin news and events.</p>
        <ul class="social-list">
          <li><a href="https://www.facebook.com/georgefoxuniversity" target="_blank"><img class="social-icon" src="images/Facebook-icon2x.png" alt="Facebook icon"></a></li>
          <li><a href="https://www.instagram.com/georgefoxuniversity/" target="_blank"><img class="social-icon" src="images/Insta-icon2x.png" alt="Instagram icon"></a></li>
          <li><a href="https://twitter.com/georgefox" target="_blank"><img class="social-icon" src="images/twitter-icon2x.png" alt="Twitter icon"></a></li>
          <li><a href="https://vimeo.com/georgefox/" target="_blank"><img class="social-icon" src="images/Vimeo-icon2x.png" alt="Vimeo icon"></a></li>
          <li><a href="https://www.linkedin.com/school/19242?pathWildcard=19242" target="_blank"><img class="social-icon" src="images/LinkedIn-icon2x.png" alt="LinkedIn icon"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

  <!-- Extended navigation.  School address.  Mouseline -->
<div id="footerHolder">

    <!-- Start of footer -->
    <div class="footer clearfix">
        <div class="container">
            <div class="row">
                        
                <!-- Start of contact and copyright -->
                <div class="span3" id="contact">
                    <div itemscope="" itemtype="https://schema.org/CollegeOrUniversity">
                        <div class="tradegothic addressHead" itemprop="name"><strong>George Fox University:&#160;</strong><br class="hidden-phone" /> <strong>Newberg Campus</strong></div>
                        <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress"><span itemprop="streetAddress">414 N. Meridian St.</span><br /> <span itemprop="addressLocality">Newberg</span>, <span itemprop="addressRegion">OR</span> <span itemprop="postalCode">97132</span></div>
                        <a class="phone-number" href="tel:+15035388383" itemprop="telephone" style="text-decoration: underline;">503-538-8383</a>
                    </div>
                    <p><a class="btn tradegothic addressButtons" href="https://georgefox.edu/contact.html">Contact Us</a> <a class="btn tradegothic addressButtons" href="https://georgefox.edu/college-admissions/visit/index.html">Visit Campus</a></p>
                    <div class="social-icons hidden-phone">
                        <ul>
                            <li><a href="https://www.facebook.com/georgefoxuniversity"><img alt="Facebook" height="100" src="../template/global/images/social/facebook.png" width="100" /></a></li>
                            <li><a href="https://www.instagram.com/georgefoxuniversity/"><img alt="Instagram" height="100" src="../template/global/images/social/instagram.png" width="100" /></a></li>
                            <li><a href="https://twitter.com/georgefox"><img alt="Twitter" height="82" src="../template/global/images/social/twitter.png" width="100" /></a></li>
                            <li><a href="https://vimeo.com/georgefox/"><img alt="Vimeo" height="87" src="../template/global/images/social/vimeo.png" width="100" /></a></li>
                            <li><a href="https://www.linkedin.com/school/19242?pathWildcard=19242"><img alt="LinkedIn" height="100" src="../template/global/images/social/linkedin.png" width="100" /></a></li>
                        </ul>
                    </div>
                    <p id="copy">&#169; 2018, George Fox University. All rights reserved.</p>
                </div>
                <!-- End of contact and copyright -->
                        
                <!-- Start of footerNav -->
                <div class="span9" id="footerNav">
                    <div class="row footerNew">
                        <div class="span3">
                            <h4><span class="collapsed" data-target=".footer-quickLinks" data-toggle="collapse" onclick="void(0)">Quick Links</span></h4>
                            <div class="nav-collapse collapse footer-quickLinks">
                                <h5><a href="//www.georgefox.edu/">George Fox Home</a></h5>
                                <ul>
                                    <li><a href="https://georgefox.edu/sitemap/index.html">A-Z Index</a></li>
                                    <li><a href="http://www.bkstr.com/georgefoxstore/home/en">Bookstore</a></li>
                                    <li><a href="https://georgefox.edu/calendar/index.html">Calendar</a></li>
                                    <li><a href="https://webservices.georgefox.edu/class/">Class Schedule</a></li>
                                    <li><a href="https://georgefox.edu/direc/index.html">Directories</a></li>
                                    <li><a href="https://foxtale.georgefox.edu/moodle/login/index.php">FoxTALE</a></li>
                                    <li><a href="https://mail.google.com/a/georgefox.edu/">Google Mail</a></li>
                                    <li class="visible-phone"><a href="https://igfu.georgefox.edu/">iGFU</a></li>
                                    <li><a href="https://georgefox.edu/offices/hr/hiring.html">Jobs</a></li>
                                    <li><a href="https://georgefox.edu/library/index.html">Library</a></li>
                                    <li><a href="https://georgefox.edu/maps_locations/index.html">Maps &amp; Locations</a></li>
                                    <li><a href="https://mygfu.georgefox.edu">MyGFU <br /> </a></li>
                                    <li><a href="https://georgefox.edu/legal/index.html">Privacy Policy <br /> </a></li>
                                    <li><a href="https://georgefox.edu/news/closures/index.html">School Closures</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span3">
                            <h4><span class="collapsed" data-target=".footer-about" data-toggle="collapse" onclick="void(0)">About</span></h4>
                            <div class="nav-collapse collapse footer-about">
                                <ul>
                                    <li><a href="https://georgefox.edu/about/quick_facts/index.html">Quick Facts</a></li>
                                    <li><a href="https://georgefox.edu/about/mission_vision_values/index.html">Mission, Vision &amp; Values <br /> </a></li>
                                    </ul>
                                    </div>
                                    <h4><span class="collapsed" data-target=".footer-admissions" data-toggle="collapse" onclick="void(0)">Admission</span></h4>
                                    <div class="nav-collapse collapse footer-admissions">
                                    <ul>
                                    <li><a href="https://georgefox.edu/admission/how-to-apply.html">Apply Now</a></li>
                                    <li><a href="https://georgefox.edu/admission/index.html">Request Info</a></li>
                                    </ul>
                                    </div>
                                    <h4><span class="collapsed h5Link" data-target=".footer-traditionalUndergraduate" data-toggle="collapse" onclick="void(0)">Traditional Undergraduate</span></h4>
                                    <div class="nav-collapse collapse footer-traditionalUndergraduate">
                                    <ul>
                                    <li><a href="https://georgefox.edu/college-admissions/index.html">Homepage</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/academics/majors-minors.html">Majors &amp; Minors</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/campus-life/index.html">Campus Life</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/scholarships/index.html">Scholarships &amp; Financial Aid</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/scholarships/net-price-calculator.html">Net Price Calculator</a></li>
                                    <li><a href="https://georgefox.edu/consumer-information/index.html">Consumer Information</a></li>
                                    <li><a href="https://georgefox.edu/college-admissions/visit/index.html">Visit Campus</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span3">
                            <h4><span class="collapsed h5Link" data-target=".footer-adultDegree" data-toggle="collapse" onclick="void(0)">Adult Degree Programs</span></h4>
                            <div class="nav-collapse collapse footer-adultDegree">
                                <ul>
                                    <li><a href="https://georgefox.edu/adult-degree/index.html">Homepage</a></li>
                                    <li><a href="https://georgefox.edu/adult-degree/about/locations.html">Locations</a></li>
                                    <li><a href="https://georgefox.edu/adult-degree/admissions/inforeq.html">Request Information</a></li>
                                </ul>
                            </div>
                            <h4><span class="collapsed" data-target=".footer-graduate" data-toggle="collapse" onclick="void(0)">Graduate</span></h4>
                            <div class="nav-collapse collapse footer-graduate">
                                <ul>
                                    <li><a href="https://georgefox.edu/business/index.html">Business Programs</a></li>
                                    <li><a href="https://georgefox.edu/counseling-programs/index.html">Counseling Programs</a></li>
                                    <li><a href="https://georgefox.edu/education/index.html">Education &amp; Teaching Programs</a></li>
                                    <li><a href="https://georgefox.edu/physical-therapy/index.html">Physical Therapy</a></li>
                                    <li><a href="https://georgefox.edu/psyd/index.html">Psychology (PsyD)</a></li>
                                    <li><a href="https://georgefox.edu/seminary/index.html">Seminary</a></li>
                                    <li><a href="https://georgefox.edu/socialwork/msw/index.html">Social Work (MSW)</a></li>
                                </ul>
                            </div>
                            <h4 style="text-decoration: underline;"><a href="https://georgefox.edu/academics/online-programs.html">Online Programs</a></h4>
                        </div>
                        <div class="social-icons visible-phone">
                            <ul>
                                <li><a href="https://www.facebook.com/georgefoxuniversity"> <img alt="Facebook" height="100" src="../template/global/images/social/facebook.png" width="100" /> </a></li>
                                <li><a href="https://www.instagram.com/georgefoxuniversity/"> <img alt="Instagram" height="100" src="../template/global/images/social/instagram.png" width="100" /> </a></li>
                                <li><a href="https://twitter.com/georgefox"> <img alt="Twitter" height="82" src="../template/global/images/social/twitter.png" width="100" /> </a></li>
                                <li><a href="https://vimeo.com/georgefox/"> <img alt="Vimeo" height="87" src="../template/global/images/social/vimeo.png" width="100" /> </a></li>
                                <li><a href="https://www.linkedin.com/school/19242?pathWildcard=19242"> <img alt="LinkedIn" height="100" src="../template/global/images/social/linkedin.png" width="100" /> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End of footerNav -->
                    
            </div>
        </div>
    </div>
    <!-- End of footer -->
            
</div>
<!-- End of footerHolder -->
  
  <script src="js/vendor/rellax.min.js"></script>
  <script src="js/index.min.js"></script>

</body>