$fontfamily_headers: "TradeGothic";
$fontsize_h1: 42px;
$lineheight_h1: 1.3;
$fontsize_h2: 35px;
$lineheight_h2: 1.3;
$fontsize_h3: 28px;
$lineheight_h3: 1.1;
$fontsize_h4: 20px;
$lineheight_h4: 1.4;

$fontfamily_body: "Arial, Helvetica, sans-serif";
$fontsize_body: 15px;
$lineheight_body: 1.6;