.btn,
a.btn {
  &-gold {
    background: $c_gold;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    
    transition: ease-in 0.09s;
    text-decoration: none;
    
    &:hover {
      background: lighten($c_gold, 5%);
      color: #fff;
    }
  }
  &-wide {
    padding: $sp_base * .2 $sp_base;
    
    font-size: $fontsize_h4;
  }
  &-center-mobile {
    @media (max-width: 47.9375em) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}