.journal-image {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  @media (min-width: 25em) {
    max-width: 300px;
  }
}

.full-image {
  display: flex;
  
  position: relative;
  height: 275px;
  overflow: hidden;
  
  @media (min-width: 48em) {
    height: 400px;
  }
  
  @media (min-width: 64em) {
    height: 525px;
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    object-fit: cover;
  }
}

.image {
  img {
    @media (max-width: 47.9375em) {
      width: 100%;
    }
  }
}

.alumni .alumni-section picture img {
  width: 100%;
}