.journal-image {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.full-image {
  position: relative;
  height: 525px;
  overflow: hidden;
  
  img {
    position: absolute;
    left: 0;
    width: 100vw;
  }
}

.image {
  img {
    @media (max-width: 47.9375em) {
      width: 100%;
    }
  }
}