.hero {
  display: flex;
  flex-flow: row wrap;

  height: 200px;
  overflow: hidden;
  position: relative;
  
  &::after {
    content: '';
    
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    
    background: url('https://www.georgefox.edu/template/global/images/misc/video-overlay.gif') repeat rgba(0,0,0,.5);
    opacity: .35;
  }
  
  @media (min-width: 23.75em) {
    height: 250px;
  }
  
  @media (min-width: 28em) {
    height: 300px;
  }
  
  @media (min-width: 37.5em) {
    height: 400px;
  }
  
  @media (min-height: 900px) and (min-width: 1600px) {
    height: 600px;
  }
  
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    
    object-fit: cover;
  }
  
  &-content {
    position: relative;
    max-width: 34ch;
    
    font-size: $fontsize_h2;
    
    &--left {
      justify-content: flex-start;
      align-items: center;
    }
    
    &--center {
      justify-content: center;
      align-items: center;
    }
    
    &--right {
      justify-content: flex-end;
      align-items: center;
    }
    
    blockquote {
      border-width: 0;
      color: $c_fog;
      font-family: $fontfamily_headers;
      
      p {
        margin-bottom: $sp_base * .5;
        
        color: $c_fog;
        font-size: $fontsize_h4;
        font-weight: 600;
        line-height: 1.25;
        
        @media (min-width: 28.75em) {
          font-size: $fontsize_h3;
        }
        
        @media (min-width: 37.5em) {
          font-size: $fontsize_h2;
        }
      }
      
      cite {
        font-size: $fontsize_h4;
        font-weight: 600;
      }
    }
  }
  
  &-logo {
    position: absolute;
    top: calc(50% - (136px / 2) );
    left: calc(50% - (160px / 2) );
    
    max-width: 160px;
    
    @media (min-width: 28em) {
      max-width: 242px;
      top: calc(50% - (206px / 2) );
      left: calc(50% - (242px / 2) );
    }
  }
}