.dropdown {
  @media (min-width: 48em) {
    &:hover .dropdown-menu {
      display: block;
    }
  }
  
  &-menu {
    left: -$sp_base * .5;
    padding-top: $sp_base * .3;
    padding-bottom: 0;
    margin-top: 0;
    
    background: $c_fog;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    
    &::before,
    &::after { display: none !important; }
    
    li {
      padding: 0;
      margin: 0;
      
      &:first-of-type a { border-top-width: 0; }
      
      > a {
        display: block;
        padding-top: $sp_base * .3;
        padding-bottom: $sp_base * .3;
        
        border-top: 1px solid lighten($c_fog, 10%);
        
        &:hover {
          background: darken($c_fog, 5%);
          color: $c_black;
        }
      }
    }
  }
}