.alumni-section {
  padding: $sp_base * 1.6 $sp_base * .25;
  
  > h2 {
    margin-bottom: $sp_base * .8;
  }
  
  @media (min-width: 48em) {
    padding: $sp_base * 1.6 0;
  }
}

.bg {
  &-gray { background: $c_fog; }
  &-blue { background: $c_blue; }
}