{% extends "layout.nunjucks" %}

{% block site_content %}
  
  <div class="parallax-container hero">
    <img class="parallax hero-image" data-rellax-speed="1" src="images/hero-notext_opt.jpg" alt="">
    <img class="parallax hero-logo" data-rellax-speed="-1" src="images/george-fox-alumni@2x.png" alt="George Fox University Alumni">
  </div>
  
  <div class="container padding-vertical">
    <div class="row-fluid">
      <div class="span4 alumni-col text-center">
        <div class="svg-object">
          <object type="image/svg+xml" data="images/icons/profile.svg"></object>
        </div>
        <h2>Update Your Information</h2>
        <p>It is a simple way to let your classmates and other alumni know what you have been up to and connect.</p>
        <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/alumni_update_form.html">Learn More</a>
      </div>
      
      <div class="span4 alumni-col text-center">
        <div class="svg-object">
          <object type="image/svg+xml" data="images/icons/gradcap.svg"></object>
        </div>
        <h2>Alumni Directory</h2>
        <p>This password-protected system allows George Fox alumni to find contact information for other alumni.</p>
        <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/mygfu.html">Learn More</a>
      </div>
      
      <div class="span4 alumni-col text-center">
        <div class="svg-object">
          <object type="image/svg+xml" data="images/icons/volunteer.svg"></object>
        </div>
        <h2>Get Involved</h2>
        <p>Find ways to volunteer, get in contact with other alumni, or share your George Fox experience!</p>
        <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/involve/Volunteer/index.html">Learn More</a>
      </div>
    </div>
  </div>
  
  <section class="alumni-section upcoming-events padding-vertical bg-gray">
    <h2 class="text-center">Upcoming Events</h2>
    
    <div class="container">
      <div class="row-fluid">
        <div class="span4 alumni-col">
          <a class="item-link" href="https://www.georgefox.edu/academics/undergrad/departments/theatre/current-season/index.html">
            <img src="https://www.georgefox.edu/alumni/events/womens-bb-conference-champs.jpg" alt="Paper plane flying in a paper sky.">
            <h3>Tongue of a Bird: January</h3>
            <p>
              <strong>DATE:</strong> Jan. 25-27 & Feb. 1-3 at 7:30 p.m., Feb. 4 at 2 p.m.<br>
              <strong>LOCATION:</strong> Wood-Mar Auditorium<br>
              <strong>BY:</strong> Ellen McLaughlin<br>
              <strong>DIRECTED BY:</strong> Audrey O'Farrell
            </p>
          </a>
        </div>
        
        <div class="span4 alumni-col">
          <img src="images/jazz-band.jpg" alt="Jazz band playing on a stage.">
          <h3>George Fox Jazz Ensemble Concert</h3>
          <p>
            <strong>DATE:</strong> Jan. 26 at 7:30 p.m.<br>
            <strong>LOCATION:</strong> Bauman Auditorium
          </p>
        </div>
          
        <div class="span4 alumni-col">
          <img src="https://www.georgefox.edu/alumni/events/images/orchestra-concert.jpg" alt="Bruins fans at a basketball game cheering.">
          <h3>Basketball Alumni Night</h3>
          <p>On <strong>January 27th</strong>, alumni are invited back to campus for a night of George Fox Basketball. George Fox University will host Linfield college. <strong>The women's game starts at 4 p.m., with the men's game starting at 6 p.m.</strong> You don't want to miss out on this night full of games, prizes, fun, and food.</p>
        </div>
      </div>
    </div>
    
    <div class="text-center">
      <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/events/index.html">See all News and Events</a>
    </div>
  </section>
  
  <section class="alumni-section padding-vertical bg-blue">
    <div class="container">
      <div class="row-fluid">
        <div class="span7">
          <div class="image neg-margin-top has-shadow">
            <img src="images/homepage-benefits.jpg" alt="Family smiling together on George Fox campus.">
          </div>
        </div>
        <div class="span5 text-white">
          <h2>Alumni Benefits</h2>
          <p>Belonging to the George Fox University Alumni Association is free and fosters loyalty to your university, gives you a voice in alumni affairs, provides leadership opportunities, promotes continued excellence in education, and allows us to serve you with extra benefits such as:</p>
          <ul class="cap-style">
            <li>Access to Information</li>
            <li>Discounts on Services</li>
            <li>Events and Opportunities</li>
            <li>Benefits for Children of Alumni</li>
          </ul>
          <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/index.html">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="alumni-section padding-vertical bg-gray">
    <div class="container">
      <div class="row-fluid">
        <div class="span6 text-center">
          <h2>Give Back to Future Alumni</h2>
          <p>As a George Fox alum, you are a fabulous resource for current students.<br>Here are few ways you can give back to the George Fox community:</p>
          <ul class="text-left no-style constrained">
            <li>Career coaching for young alumni is available within the first year after graduating. <a href="mailto:idea@georgefox.edu">Email us</a>.</li>
            <li>Post jobs, internships, or volunteer opportunities for students in <a href="https://www.georgefox.edu/offices/idea-center/career/student-handshake-resources.html">Handshake</a>.</li>
            <li>Participate in IDEA Center events throughout the year as a volunteer! <a href="mailto:idea@georgefox.edu">Email us</a>.</li>
            <li>Recruit or employ students for new positions! <a href="https://www.georgefox.edu/offices/idea-center/employers/index.html">Learn more</a>.</li>
          </ul>
        </div>
        
        <div class="span6 text-center">
          <h2>George Fox Journal</h2>
          <a href="https://www.georgefox.edu/journalonline/index.html">
            <img class="journal-image" src="https://www.georgefox.edu/template/interior/misc/journalonline/issues/winter18/other/journal-winter18-cover.jpg" alt="George Fox Journal - Heart of a Lion, Winter 2018">
          </a>
        </div>
      </div>
    </div>
  </section>
  
  {% include "partials/social.nunjucks" %}
  <!-- End of user content -->
{% endblock %}