{% extends "layout.nunjucks" %}

{% block site_content %}
  <!-- Start of user content -->
  <div class="event-item">
    <div class="row-fluid">
      <div class="span5">
        <img alt="Basketball crowd" class="space-below20" height="665" src="https://www.georgefox.edu/alumni/images/Family_Crop.jpg" width="996" data-pagespeed-url-hash="193567335" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/>
      </div>
      <div class="span7">
        <h3 class="blue-accent"><span>Homecoming Weekend:&#160;</span><span class="aBn" data-term="goog_1115008290" tabindex="0"><span class="aQJ">October 5-6, 2018</span></span></h3>
        <p><span>Reconnect with friends, classmates and professors during homecoming this fall. Whether you graduated last year or&#160;decades ago, we're excited for you to re-experience your college memories at George Fox.</span></p>
      </div>
    </div>
  </div>
  
  <div class="event-item">
    <div class="row-fluid">
      <div class="span5"></div>
      <div class="span7"></div>
    </div>
  </div>
  
  <div class="well">
    <div class="row-fluid">
      <div class="span7">
        <h3 class="blue-accent">Alumni Career Opportunities</h3>
        <p><img alt="Handshake Logo" src="https://www.georgefox.edu/offices/idea-center/static/200xNxhs-logo-primary-md.png.pagespeed.ic.q3elbKTG9r.webp" width="200" data-pagespeed-url-hash="1519040529" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/></p>
        <p>As a George Fox alumnus, you are a fabulous resource for current students. <br/>Here are few ways you can give back to the George Fox community:</p>
        <ul>
          <li><span style="font-family: arial, helvetica, sans-serif;"> <strong><g class="gr_ gr_25 gr-alert gr_gramm gr_inline_cards gr_run_anim Style multiReplace" data-gr-id="25" id="25">Career coaching </g></strong><g class="gr_ gr_25 gr-alert gr_gramm gr_inline_cards gr_disable_anim_appear Style multiReplace" data-gr-id="25" id="25"> </g></span> for young alumni is available within the first year after graduating. <a href="mailto:idea@georgefox.edu">Email us</a>.</li>
          <li><span style="font-family: arial, helvetica, sans-serif;"> <strong><g class="gr_ gr_25 gr-alert gr_gramm gr_inline_cards gr_run_anim Style multiReplace" data-gr-id="25" id="25">Post</g></strong><g class="gr_ gr_25 gr-alert gr_gramm gr_inline_cards gr_disable_anim_appear Style multiReplace" data-gr-id="25" id="25"> </g></span> jobs, internships, or volunteer opportunities for students in <a href="../offices/idea-center/career/student-handshake-resources.html">Handshake</a>!</li>
          <li><span style="font-family: arial, helvetica, sans-serif;"> <strong><g class="gr_ gr_26 gr-alert gr_gramm gr_inline_cards gr_run_anim Style multiReplace" data-gr-id="26" id="26">Participate</g></strong><g class="gr_ gr_26 gr-alert gr_gramm gr_inline_cards gr_disable_anim_appear Style multiReplace" data-gr-id="26" id="26"> </g></span> in IDEA Center&#160;events throughout the year as a volunteer! <a href="mailto:idea@georgefox.edu">Email us</a>.</li>
          <li><span style="font-family: arial, helvetica, sans-serif;"> <strong>Recruit or e<g class="gr_ gr_27 gr-alert gr_gramm gr_inline_cards gr_run_anim Style multiReplace" data-gr-id="27" id="27">employ</g></strong><g class="gr_ gr_27 gr-alert gr_gramm gr_inline_cards gr_disable_anim_appear Style multiReplace" data-gr-id="27" id="27"> </g></span> students for new positions! <a href="../offices/idea-center/employers/index.html">Learn more</a>.</li>
        </ul>
      </div>
      <div class="span4 offset1">
        <h3 class="blue-accent"><a href="../journalonline/index.html">George Fox Journal</a></h3>
        <a href="../journalonline/index.html"> <img alt="Journal &#8211;&#160;The Student Athlete Experience" class="clearfix" height="604" src="../template/interior/misc/journalonline/issues/winter18/other/journal-winter18-cover.jpg" width="500" data-pagespeed-url-hash="154504765" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/> </a>
      </div>
    </div>
  </div>
  <!-- End of user content -->
{% endblock %}