{% extends "layout.njk" %}

{% block site_content %}
  <section class="container padding-vertical">
    <h1>Children of Alumni</h1>
    <img src="images/interior-header-image_opt.jpg" alt="Alumni children having fun with their families.">
  </section>
  
  <section class="container padding-vertical">
    <div class="row-fluid">
      <div class="span12">
        <h2>What's Available</h2>
        <p>Children of alumni have several opportunities to get involved at George Fox, and it starts right when they are born! Read about the many ways your child can connect with George Fox University:</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4 text-center block-icon">
        <img src="images/icons/T-shirt.svg" alt="tshirt icon" aria-hidden="true">
        <h3>Lil' Bruins T-Shirt</h3>
        <p>Receive a Lil' Bruin T-Shirt when the birth of your baby or the adoption of your child is announced in <a href="https://www.georgefox.edu/journalonline/index.html">Journal</a>. Email Alumni Relations, (<a href="mailto:alumni@georgefox.edu">alumni@georgefox.edu</a>) to notify of the addition to your family within the first year of their birth/adoption.</p>
      </div>
      <div class="span4 text-center block-icon">
        <img src="images/icons/Pencil.svg" alt="pencil icon" aria-hidden="true">
        <h3>Penn Pal Kid's Club</h3>
        <p>Pennington is excited to invite all George Fox University Bruin fans age 12 and younger to join the Penn Pals Kids Club. It's a great way to meet our Bruin coaches and athletes, to see Bruin athletic events for free, to spend time on a university campus at a young age, and to have fun with friends! <a href="http://athletics.georgefox.edu/penn-pals">Learn more</a></p>
      </div>
      <div class="span4 text-center block-icon">
        <img src="images/icons/Football.svg" alt="football icon" aria-hidden="true">
        <h3>Homecoming</h3>
        <p>Bring your kids back to your alma mater and they will experience what it’s like to be a Bruin! They will love watching the Bruin athletic games and the many more family-friendly activities at Homecoming.</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4 text-center block-icon">
        <img src="images/icons/Hat.svg" alt="hat icon" aria-hidden="true">
        <h3>Athletic Camps</h3>
        <p>Children of alumni are invited to attend our yearly Bruin Academy athletic camps, which include basketball, volleyball, baseball, softball and soccer camps. Contact Patty Findley at <a href="tel:+15035542910">503-554-2910</a> or <a href="pfindley@georgefox.edu">pfindley@georgefox.edu</a> for more information.</p>
      </div>
      <div class="span4 text-center block-icon">
        <img src="images/icons/Science-1.svg" alt="science icon" aria-hidden="true">
        <h3>Science Outreach Program</h3>
        <p>These are classes planned primarily for home-school students and are taught by George Fox upperclassmen science students. For more information, you can visit the Science Outreach Program <a href="https://www.georgefox.edu/science_outreach/info/schedule_fees.html">website</a>.</p>
      </div>
      <div class="span4 text-center block-icon">
        <img src="images/icons/Trophy.svg" alt="trophy icon" aria-hidden="true">
        <h3>Sports Camps</h3>
        <p>Spring and summer means sports camp season at George Fox. Youths of all ages are invited to participate in any number of events on campus. <a href="http://athletics.georgefox.edu/camps/index">Click here</a> to read about what camps are offered this summer.</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4 text-center block-icon">
        <img src="images/icons/Book.svg" alt="book icon" aria-hidden="true">
        <h3>Friday@Fox & Campus Visits</h3>
        <p>Thinking about attending George Fox? Come for a Friday@Fox and spend a day in the life of a student. Between campus tours, class visits, department showcases and residence hall tours, you'll get an authentic look at campus life! Call Undergraduate Admissions at <a href="tel:+15035545540">503-554-5540</a> or go to <a href="https://www.georgefox.edu/college-admissions/visit/index.html">visit.georgefox.edu</a> for more information.</p>
      </div>
      <div class="span4 text-center block-icon">
        <img src="images/icons/Bruin.svg" alt="bruin icon" aria-hidden="true">
        <h3>Bruin Preview</h3>
        <p>Have the ultimate George Fox visit experience! Stay overnight with a current student, sit in a class, tour the campus, eat in the Bon and attend student events as you get acquainted with George Fox University. Call Undergraduate Admissions at <a href="tel:+15035545540">503-554-5540</a> or visit <a href="https://www.georgefox.edu/college-admissions/visit/bruin-preview.html">bruinpreview.georgefox.edu</a> for more information.</p>
      </div>
      <div class="span4 text-center block-icon">
        <img src="images/icons/Star.svg" alt="star icon" aria-hidden="true">
        <h3>Legacy Program</h3>
        <p>George Fox University is dedicated to the legacy that children of alumni bring to the school. The goal of this program is to increase the number of legacy students at George Fox because we believe a strong legacy enrollment demonstrates confidence in the institution, its education and its mission. We hope that you and your children will consider George Fox.</p>
      </div>
    </div>
  </section>
{% endblock %}