{% extends "layout.nunjucks" %}

{% block site_content %}
  <div class="parallax-container hero">
    <img class="parallax hero-image" data-rellax-speed="1" src="images/hero-notext_opt.jpg" alt="">
  </div>
  
  <section class="container padding-vertical">
    <div class="row-fluid">
      <div class="span9">
        <div class="video-container has-shadow">
          <iframe src="https://player.vimeo.com/video/103272363?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="span3">
        <h2>Video Title Here</h2>
        <p>Newberg is a place many fondly call home. Whether you're a George Fox student, a longtime resident or just passing through, there are countless things to do and see.</p>
      </div>
    </div>
  </section>
{% endblock %}