{% extends "layout.njk" %}

{% block site_content %}  
  <div class="hero hero-content--left">
    <img class="hero-image" src="images/keypage-hero_opt.jpg" alt="Alumn standing in front of brick wall.">
    <div class="hero-content text-center">
      <blockquote>
        <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
        <cite>&mdash; Doug Peterson, class of '72</cite>
      </blockquote>
    </div>
  </div>
  
  
  <!--
    @TODO - Integrate with Cascade to make dynamic.
    @FUNCTIONALITY - Provide options for admin and display section accordingly.
    
    @OPTION - has_text
    @TYPE - boolean, checkbox
    @FUNCTIONALITY - If true, show alignment options. Else, full width video. 
    
    @OPTION - text_position
    @TYPE - radio
    @VALUES - right, left
    @FUNCTIONALITY - If right, text on right. If left, text on left.
  -->
  <section class="container padding-vertical">
    <div class="row-fluid">
      <div class="span9">
        <div class="video-container has-shadow">
          <iframe src="https://player.vimeo.com/video/103272363?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="span3">
        <h2>Video Title Here</h2>
        <p>Newberg is a place many fondly call home. Whether you're a George Fox student, a longtime resident or just passing through, there are countless things to do and see.</p>
      </div>
    </div>
  </section>
  
  <section class="padding-vertical bg-blue callout">
    <div class="container text-center">
      <h3>Belonging to the George Fox University Alumni Association is free and fosters loyalty to your university, gives you a voice in alumni affairs, provides leadership opportunities, promotes continued excellence in education, and allows us to serve you with benefits.</h3>
    </div>
  </section>
{% endblock %}