{% extends "layout.njk" %}

{% block site_content %}
  <div class="hero hero-content--left full-image">
    <img class="hero-image" src="images/keypage-hero_opt.jpg" alt="Alumn standing in front of brick wall.">
    <div class="hero-content text-center">
      <blockquote>
        <p>Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>
        <cite>&mdash; Doug Peterson, class of '72</cite>
      </blockquote>
    </div>
  </div>
  
  
  <!--
    @TODO - Integrate with Cascade to make dynamic.
    @FUNCTIONALITY - Provide options for admin and display section accordingly.
    
    @OPTION - has_text
    @TYPE - boolean, checkbox
    @FUNCTIONALITY - If true, show alignment options. Else, full width video. 
    
    @OPTION - text_position
    @TYPE - radio
    @VALUES - right, left
    @FUNCTIONALITY - If right, text on right. If left, text on left.
  -->
  <section class="container padding-vertical">
    <div class="row-fluid">
      <div class="span9">
        <div class="video-container has-shadow">
          <iframe src="https://player.vimeo.com/video/103272363?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="span3">
        <h2>Video Title Here</h2>
        <p>Newberg is a place many fondly call home. Whether you're a George Fox student, a longtime resident or just passing through, there are countless things to do and see.</p>
      </div>
    </div>
  </section>
  
  <section class="padding-vertical bg-blue callout">
    <div class="container text-center">
      <h3>Belonging to the George Fox University Alumni Association is free and fosters loyalty to your university, gives you a voice in alumni affairs, provides leadership opportunities, promotes continued excellence in education, and allows us to serve you with benefits.</h3>
    </div>
  </section>
  
  <section class="container padding-vertical">
    <div class="row-fluid">
      <div class="span4 text-center info-block">
        <img class="info-image" src="images/access-info_opt.jpg" alt="Campus Library building in the fall.">
        <h3 class="info-title">Access to Information</h3>
        <p class="info-content">Get access to the Alumni Directory, campus library, university news and updates plus much more.</p>
        <a class="info-button btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/benefits.html">Learn More</a>
      </div>
      
      <div class="span4 text-center info-block">
        <img class="info-image" src="images/discount-services_opt.jpg" alt="Students performing a play.">
        <h3 class="info-title">Discounts on Services</h3>
        <p class="info-content">Get discounts on things like travel, storage, parking, printing, theater tickets and catering... just to name a few.</p>
        <a class="info-button btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/benefits.html">Learn More</a>
      </div>
      
      <div class="span4 text-center info-block">
        <img class="info-image" src="images/events-opportunities_opt.jpg" alt="Bruins football player and coaches posing after a game.">
        <h3 class="info-title">Events and Opportunities</h3>
        <p class="info-content">Get involved by volunteering for campus events, travel, and have the opportunity to be honored with an alumni award.</p>
        <a class="info-button btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/events/index.html">Learn More</a>
      </div>
    </div>
  </section>
  
  <section class="full-image">
    <img src="images/keypage-full-image_opt.jpg" alt="Smiling alumn with family on campus.">
  </section>
  
  <section class="container padding-vertical text-center">
    <h2>Benefits for Children of Alumni</h2>
    <p>As a George Fox alum, your children have lots of opportunities to get involved at George Fox. Everything from sports camps to pen pals, campus visits to outreach experiences, your kids have many ways to experience Bruin life, and it starts right when they are born!</p>
    <ul class="list-icons">
      <li><img src="images/icons/T-shirt.svg" alt="tshirt icon" aria-hidden="true">Lil' Bruins T-shirt</li>
      <li><img src="images/icons/Hat.svg" alt="hat icon" aria-hidden="true">Bruin Sports Day</li>
      <li><img src="images/icons/Book.svg" alt="book icon" aria-hidden="true">Friday@Fox & Campus Visits</li>
      <li><img src="images/icons/Pencil.svg" alt="pencil icon" aria-hidden="true">Penn Pals Kid's Club</li>
      <li><img src="images/icons/Science-1.svg" alt="science icon" aria-hidden="true">Science Outreach Program</li>
      <li><img src="images/icons/Bruin.svg" alt="bruin icon" aria-hidden="true">Bruin Preview</li>
      <li><img src="images/icons/Football.svg" alt="football icon" aria-hidden="true">Homecoming</li>
      <li><img src="images/icons/Trophy.svg" alt="trophy icon" aria-hidden="true">Sports Camps</li>
      <li><img src="images/icons/Star.svg" alt="star icon" aria-hidden="true">Legacy Program</li>
    </ul>
    <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/children_of_alumni/index.html">Learn More</a>
  </section>
  
  <section class="block-grid">
    <div class="block photo-left">
      <div class="block-photo">
        <img src="images/update-info-photo_opt.jpg" alt="Alumn with her grandmother on campus.">
      </div>
      <div class="block-content bg-blue text-center text-white">
        <h2>Update Your Information</h2>
        <p>It is a simple way to let your classmates and other alumni know what you have been up to and connect with you!</p>
        <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/alumni_update_form.html">Learn More</a>
      </div>
    </div>
    <div class="block photo-right">
      <div class="block-photo">
        <img src="images/directory-photo_opt.jpg" alt="Alumn smiling with her family.">
      </div>
      <div class="block-content bg-blue text-center text-white">
        <h2>Alumni Directory</h2>
        <p>This password-protected system allows George Fox alumni to find contact information for other alumni.</p>
        <a class="btn btn-gold btn-wide tradegothic" href="https://www.georgefox.edu/alumni/programs/mygfu.html">Learn More</a>
      </div>
    </div>
  </section>
{% endblock %}