{% extends "layout.njk" %}

{% block site_content %}
  <section class="alumni-section padding-small-top no-padding-bottom text-heading container">
    <h1>Honored Alumni Awards</h1>
  </section>
  <section class="alumni-section no-padding-bottom text-block container">
    <div class="text-content">
      <p><!--
      ******  Attention Content Manager ******

      Please add your e-mail address in the line below between the quotes ('') next to EMAIL, and your name between the quotes next to NAME (''). This information will be included in a link at the bottom of this page for viewers to send comments and concerns.  For questions about this call or e-mail Gloria Foltz. Thank you!
      -->
      <script language="JavaScript" type="text/javascript">// <![CDATA[
      //


                    
              <! 



                    var EMAIL = 'rlarson@georgefox.edu';

                    var NAME = 'Robby Larson';



                    -->

                    //]]--&gt;
      // ]]></script>
      The George Fox University Alumni Association annually presents three Honored Alumni Awards to alumni who have distinguished themselves after graduating from the university. A description of each award and the specific criteria for each are listed below.</p>
      <h4 class="red-accent">HERITAGE AWARD</h4>
      <p>Nominees will have distinguished themselves with a lifetime of outstanding achievement in all areas of their life academically, professionally, in community service, and by demonstrating outstanding personal achievement. Nominees must be graduates from at least 25 years ago.</p>
      <h4 class="red-accent">OUTSTANDING ALUMNUS/A</h4>
      <p>Nominees will have distinguished themselves academically, professionally, in community service or by demonstrating outstanding personal achievement. Nominees must be traditional graduates from at least 10 years ago or nontraditional graduates from at least five years ago.</p>
      <h4 class="red-accent">CHRISTIAN SERVICE AWARD</h4>
      <p>Nominees will have demonstrated faithful service to the Lord in full-time vocational ministry in the local church, in a parachurch organization, or on the mission field. Nominees must be graduates of at least 10 years.</p>
      <h3 class="blue-accent">Nomination Criteria &amp; Process</h3>
      <ol>
      <li class="text">All nominees must be graduates from a George Fox University program. This includes those graduates from the former Western Evangelical Seminary, George Fox College and Pacific College.</li>
      <li class="text">All nominees should reflect the ideals of George Fox University in their commitment to their profession, church, community and university.</li>
      <li class="text">All nominees should have demonstrated support for and sympathy with the mission, goals and purpose of George Fox University.</li>
      <li class="text">All nominees will be asked to submit biographical information for review by the Alumni Board. If no information is provided by the nominee, the nomination will be removed from consideration.</li>
      <li class="text"><span color="#333333" style="color: #333333;">Nominations are made by&#160;</span> <span color="#000000">each college who will select three alumni candidates from their programs, one for each award. Because of the 25-year criteria of the Heritage Award, the newer colleges will only have two candidates for the other awards and forgo the Heritage Award until applicable. Colleges can come up with any selection process within their own departments that they see fit, as long as the selected alumni nominated fit within each of the three awards' criteria.&#160;</span></li>
      <li>Nominations must indicate the particular award that an alumnus is being nominated for.</li>
      <li>Previous award recipients are eligible for other awards for which they meet the criteria. Recipients cannot receive the same award twice.</li>
      <li>Alumni who have been previously nominated but were not selected to receive an Honored Alumni Award may be nominated again at any time.</li>
      <li>Nominations for the Heritage Award, Outstanding Alumnus/a Award and Christian Service Award will remain valid for a period of two years. If the nominee has not been selected after two years, Alumni Relations will provide the nominee with an opportunity to update their biographic materials. If the nominee does provide an update, the nomination will remain in consideration for an additional two years. If at the end of this second period, the nominee still has not been selected to receive the award, their nomination will be removed from consideration.</li>
      </ol>
    </div>
  </section>
{% endblock %}