.alumni-col {
  
  .item-link {
    color: $c_black;
    text-decoration: none;
    
    &:hover { text-decoration: none; }
  }
  
  .svg-object {
    display: flex;
    align-items: center;
    
    height: 50px;
    width: 50px;
    margin: 0 auto $sp_base * .4;
  }
  
  object {
    width: 100%;
    height: 100%;
  }
  
  img {
    height: 220px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  h3 {
    margin-top: $sp_base * .4;
  }
  
  &.text-center p {
    max-width: 45ch;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn {
    margin-top: $sp_base * .4;
    margin-bottom: $sp_base * .6;
  }
}