.social-list {
  margin: $sp_base * .4 0;
  padding: 0;
  list-style: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  li {
    margin-left: $sp_base * .6;
    margin-right: $sp_base * .6;
    
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
  
  a {
    display: block;
    transition: transform .2s ease;
    
    &:hover,
    &:focus { transform: translateY(-2px); }
    &:active { transform: translateY(1px); transition: transform .05s ease; }
  }
}