body.alumni .subheader {
  padding: 0;
  
  background: $c_fog;
  box-shadow: none;
    
  .container {
    margin-bottom: 0;
    
    @media (max-width: 979px) and (min-width: 768px) {
      width: auto;
    }
  }
}