h1, h2, h3, h4 {
  color: $c_black;
}

h1 {
  font-size: $fontsize_h1;
  line-height: $lineheight_h1;
}

h2 {
  font-size: $fontsize_h2;
  line-height: $lineheight_h2;
}

h3 {
  font-size: $fontsize_h3;
  line-height: $lineheight_h3;
}

img + h3 {
  margin-top: $sp_base * .6;
  margin-bottom: $sp_base * .4;
}

h4 {
  font-size: $fontsize_h4;
  line-height: $lineheight_h4;
}