.text-white * {
  color: #fff;
}

.constrained {
  max-width: 40ch;
  margin-top: $sp_base * .8;
  margin-left: auto;
  margin-right: auto;
  
  li {
    margin-bottom: $sp_base * .5;
  }
}

.neg-margin-top {
  margin-top: -150px;
}