.padding {
  &-vertical {
    padding-top: $sp_base;
    padding-bottom: $sp_base;
  }
  &-small-top {
    padding-top: $sp_base * .5 !important;
  }
}

.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }

.no-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}